@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.iphone {
    width: 320px;
    height: 620px;
    background-color: #000;
    border-radius: 40px;
    border: 2px solid #333;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.63);
    overflow: hidden;
    position: relative;
}

.case{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 30px;
    background-color: #000;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.case img{
    width: 15px;
    height: 15px;
    margin-left: 75px;
    opacity: 0.3;
}

.wifi-bateria{
    position: absolute;
    top: 2px;
    /* left: 87%; */
    right: -68px;
    transform: translateX(-50%);
    width: 110px;
    height: 30px;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    z-index: 999;
    font-size: 20px;
}

#wifi{
    animation: wifi 4s infinite linear;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 6px;
    left: 15px;
}
@keyframes wifi{
    0%, 100% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.2)
    }
}

#bateria{
    animation: bateria 4s infinite linear;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 6px;
    left: 50px;
}
@keyframes bateria{
    0%, 100% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.2)
    }
}

.barra-rede{
    position: absolute;
    top: 5px;
    left: 10%;
    transform: translateX(-50%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
    z-index: 999;
    font-size: 25px;
}

#telmovel{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 10px;
    position: absolute;
    top: 2px;
    right: -40px;
    font-size: 20px;
}

.screen {
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: url(imagem/fundo-iphpne.jpg);
    background-size: cover;
    background-position: center;
    outline: none;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;  /*tela de inicio,nem auto nem baixo*/
}

.horas{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    font-size: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.notificacao{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#whats{
    color: #25d366;
}
#insta{
    color: #c13584;
}
#face{
    color: #94b6ff;
}
#balao{
   color: orange;
}
/*--------------------------------------*/
.volume-buttons {
    position: absolute;
    right: -3px;
    top: 25%;
    transform: translateY(-50%);
}

.volume-button {
    width: 4px;
    height: 60px;
    background-color: rgb(74, 74, 74);
    border-radius: 5px;
    margin-bottom: 3px;
    cursor: pointer;
}

.volume-indicator { /*interface volume*/
    position: absolute;
    width: 50%;
    height: 10px;
    background-color: #fff;
    border-radius: 5px;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;  /*sobrepoe a telaprincipal e de inicio*/
}

.volume-bar { /*interface volume*/
    height: 100%;
    background-color: #000;
    border-radius: 5px;
}

.volume-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(imagem/img-volume.png);
    background-size: cover;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    display: none; /* O ícone de volume está oculto inicialmente */
}

.power-button{
    width: 5px;
    height: 50px;
    background-color: rgb(74, 74, 74);
    border-radius: 5px;
    position: absolute;
    top: 150%;
    right: 0;
    cursor: pointer;
}
/*-----------------------*/

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
}

#passwordForm {
    background-color: #000000a7;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-variant: normal;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#password{
    margin-top: 15px;
    margin-left: 15px;
    background-color: #000000c1;
    color: white;
    border: 1px solid #ee82ee76;
    text-align: center;
    outline: none;
    padding: 10px;
    border-radius: 10px;
}
/*--------------------------*/

.telaprincipal{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url(imagem/fundo-iphone03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    z-index: 99; /*sobrepoe  a tela de inicio*/
}

.tela-preta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    z-index: 9999;  /*sobrepoe todo elemento dentro do iphone*/
}

div#pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pesquisa-input{
    width: 250px;
    height: 40px;
    text-indent: 30px;
    border-radius: 10px;
    color: black;
    background-color: rgba(255, 255, 255, 0.361);
    border: 1px solid #33333353;
    outline: none;
    margin: auto;
}

#pesquisa-icon{
    position: absolute;
    top: 7.5px;
    left: -8px;
    width: 40px;
    height: 20px;
    color: #0000004b;
}
/*--------------------------*/
.mensagem{
   position: absolute;
   top: 10%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 20px;
}

p#mensagem{
    color: whitesmoke;
    font-size: small;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: monospace;
    letter-spacing: -1px;
    text-transform: lowercase;
    cursor: pointer;
}

.msg-escondida{
    font-size: 35px;
    background-color: #ffffff41;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    display: none;
}

.icon02{
    float: left;
    margin-left: 12px;
    margin-top: 12px;
    cursor: pointer;
}
/*---------------------------*/
