@charset "UTF-8";

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#img-apple-tras{
    position: absolute;
    left: -350px;
    max-width: 600px;
    height: 644px;
    text-shadow: 0 0 5px black;
    margin: auto;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.iphone {
    width: 320px;
    height: 620px;
    background-color: #000;
    border-radius: 40px;
    border: 2px solid #333;
    box-shadow: 3px 2px 20px rgba(0, 0, 0, 0.63);
    overflow: hidden;
    position: relative;
}

.case{
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
    width: 110px;
    height: 30px;
    background-color: #000;
    border-radius: 20px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.case img{
    width: 15px;
    height: 15px;
    margin-left: 75px;
    opacity: 0.3;
}

.wifi-bateria{
    position: absolute;
    top: 2px;
    /* left: 87%; */
    right: -68px;
    transform: translateX(-50%);
    width: 110px;
    height: 30px;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 10px;
    z-index: 999;
    font-size: 20px;
}

#wifi{
    animation: wifi 4s infinite linear;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 6px;
    left: 15px;
}
@keyframes wifi{
    0%, 100% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.2)
    }
}

#bateria{
    animation: bateria 4s infinite linear;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    top: 6px;
    left: 50px;
}
@keyframes bateria{
    0%, 100% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.2)
    }
}

.barra-rede{
    position: absolute;
    top: 5px;
    left: 10%;
    transform: translateX(-50%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 5px;
    z-index: 999;
    font-size: 25px;
}

#telmovel{
    display: flex;
    flex-wrap: nowrap;
    padding-left: 10px;
    position: absolute;
    top: 2px;
    right: -40px;
    font-size: 20px;
}

.screen {
    width: 100%;
    height: 100%;
    background-color: #000;
    background-image: url(imagem/fundo-iphpne.jpg);
    background-size: cover;
    background-position: center;
    outline: none;
    border: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;  /*tela de inicio,nem auto nem baixo*/
}

.horas{
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    font-size: 50px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.notificacao{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#whats{
    color: #25d366;
}
#insta{
    color: #c13584;
}
#face{
    color: #94b6ff;
}
#balao{
   color: orange;
}
/*--------------------------------------*/
.volume-buttons {
    position: absolute;
    right: -3px;
    top: 25%;
    transform: translateY(-50%);
}

.volume-button {
    width: 4px;
    height: 60px;
    background-color: rgb(74, 74, 74);
    border-radius: 5px;
    margin-bottom: 3px;
    cursor: pointer;
}

.volume-indicator { /*interface volume*/
    position: absolute;
    width: 50%;
    height: 10px;
    background-color: #fff;
    border-radius: 5px;
    top: 42%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    z-index: 999;  /*sobrepoe a telaprincipal e de inicio*/
}

.volume-bar { /*interface volume*/
    height: 100%;
    background-color: #000;
    border-radius: 5px;
}

.volume-icon {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(imagem/img-volume.png);
    background-size: cover;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    display: none; /* O ícone de volume está oculto inicialmente */
}

.power-button{
    width: 5px;
    height: 50px;
    background-color: rgb(74, 74, 74);
    border-radius: 5px;
    position: absolute;
    top: 150%;
    right: 0;
    cursor: pointer;
}
/*-----------------------*/

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.815);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 300px;
}

#passwordForm {
    background-color: #000000a7;
    color: white;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-variant: normal;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

#password{
    margin-top: 15px;
    margin-left: 15px;
    background-color: #000000c1;
    color: white;
    border: 1px solid #ee82ee76;
    text-align: center;
    outline: none;
    padding: 10px;
    border-radius: 10px;
}
/*--------------------------*/

.telaprincipal{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-image: url(imagem/fundo-iphone03.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
    z-index: 99; /*sobrepoe  a tela de inicio*/
}

.tela-preta {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    display: none;
    z-index: 9999;  /*sobrepoe todo elemento dentro do iphone*/
}

div#pesquisa{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pesquisa-input{
    width: 300px;
    height: 40px;
    text-indent: 30px;
    border-radius: 10px;
    color: black;
    background-color: rgba(255, 255, 255, 0.361);
    border: 1px solid #33333353;
    outline: none;
    margin: auto;
}

#pesquisa-icon{
    position: absolute;
    top: 7.5px;
    left: -8px;
    width: 40px;
    height: 20px;
    color: #00000062;
}
/*--------------------------*/
.mensagem{
   position: absolute;
   top: 10%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 20px;
}

p#mensagem{
    color: whitesmoke;
    font-size: small;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    font-family: monospace;
    letter-spacing: -1px;
    text-transform: lowercase;
    cursor: pointer;
}

.msg-escondida{
    font-size: 35px;
    background-color: #ffffff41;
    width: 200px;
    height: 60px;
    border-radius: 10px;
    display: none;
}

.icon02{
    float: left;
    margin-left: 12px;
    margin-top: 12px;
    cursor: pointer;
}
/*---------------------------*/

.app-interface{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%, 0%);
}
.app-toque{
    width: 65px;
    height: 60px;
    cursor: pointer;
    margin-left: -5px;
    transition: all 1s linear ease-in;
}

.app-toque:hover{
    transform: scale(1.1);
}

.paimenu{
    display: inline-block;
}

#abir-subbarra{
    width: 80%;
    height: 6px;
    position: absolute;
    top: 6%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 25px;
    color: #333333a4;
}

.submenu {
    display: none;
    position: absolute;
    top: 0;
    width: 100%;
    height: 99.5%;
    background-color: #333;
    animation-name: devagar;
    animation-duration: 1s;
    overflow: hidden; /*oculta as notificação,quando aumentar a tamanho*/
}

@keyframes devagar {
    0% { 
        transform: translateY(-100%);
    }
    100% { 
        transform: translateY(0);
    }
}

.conf-date{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#data {
    font-size: 1em;
    position: absolute;
    top: 8%;
    left: 6%;
    transform: translate(0%, -0%);
    color: #fff;
}

#confi{
    font-size: 1.1em;
    color: #fff;
    position: absolute;
    top: 8%;
    right: 6%;
    transform: translate(0%, -0%);
    cursor: pointer;
}

.icon-sub{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, 0);
}

.app-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:  #80808074;
}

.centro-icon{
    font-size: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20%;
    margin-left: 11px;
    color: #a1a1a1;
    cursor: pointer;
    font-weight: bold;
}

.centro-icon:active{
    transform: scale(1.1);
}

#modo-aviao{
    transform: rotate(-90deg);
}

.blue{
    background-color: blue;
}
/*-------------------------------*/

#brilho {
    width: 100%;
    height: 18px;
    background: blue;
    margin: 50px auto;
    position: relative;
    border-radius: 50px;
    top: 22%;
}
  
#brilho .brilhos {
    height: 100%;
    position: absolute;
    background: gray;
    border-radius: 1px;
    width: 0%;
}

#brilho .brilho-sub {
    width: 4px;
    height: 100%;
    background: #333;
    cursor: pointer;
    position: absolute;
    right: 0;
}

#brilho-icon{
    color: #fff;
    font-size: 1.1em;
    margin-left: 5px;
}
/*--------------------------------*/

#contro-media{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 17%;
}

.entrada, .saida{
    color: #a1a1a1;
    background-color: #0000003f;
    border-radius: 50px;
    padding: 15px 12px;
    cursor: pointer;
}

.entrada, .saida >p{
    text-align: center;
    font-size: small;
}

/*-------------------------*/
.sub-notificacao{
    width: 100%;
    height: 100%;
    margin-top: 125px;
}

.noti{
    width: 99%;
    height: 70px;
    background-color:  #80808074;
    border-radius: 10px;
    margin-bottom: 3px;
    transition: all 0.2s ease;
}

.men-data-seta{
    color: #fff;
    padding-top: 1px;
    margin-left: 4px;
}

.juntos{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 6px;
}

.msg-noti{
    font-size: 1em;
    background-color: #2d2d2d;
    padding: 5px;
    border-radius: 50%;
}

.seta-noti{
    cursor: pointer;
    margin-left: 100px;
}

.noti >span{
    color: #fff;
    font-size: small;
    margin-left: 30px;
}

.noti.expancao {
    height: 110px;
}

.noti span.extra {
    display: none;
}
  
  .noti.expancao span.extra {
    display: block;
}

/*-------------------------------*/

@media screen and (min-width: 1024px) {/*desktop medio a grande*/
    body{
        margin-left: 130px;
        /*ajusta celular com img no centro*/
    }
}

@media screen and (max-width: 1024px) {/*tablet*/
    body{
        margin-left: 190px;
    }

    .volume-buttons{
        top: 34%;
    }

    #img-apple-tras{
        top: 10%;
    }
}

@media screen and (max-width: 460px) { /*smartfone*/
    body{
        margin: 0 auto;
    }

    #img-apple-tras{
        display: none;
    }

    .volume-buttons{
        top: 25%;
    }

    .men-data-seta{
        margin-bottom: 5px;
    }

    .noti.expancao {
        height: 125px;
    }
}

